$dark-font: #1c1f35;
$light-font: #ffffff;
$gray-bg: #f4f4f4;
$blue-bg: #091242;
$light-blue-bg: #111c55;
$gold-gradient-bg: linear-gradient(
  127deg,
  #ffb629 0%,
  #ffda56 50.72%,
  #ffd7a6 100%
);
$dark-opacity-bg: rgba(4, 28, 55, 0.5);
$light-opacity-bg: rgba(232, 232, 232, 0.5);
$border-color: #273270;
