.whoWeServe .container > p {
  color: #666c89;
  font-family: "Krub", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%; /* 24.244px */
  margin: 50px 0;
}

.whoWeServe .option {
  display: block;
}